# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Rust / Tauri
desktop/src-tauri/target/
desktop/src-tauri/gen/

# Node.js
node_modules/
dist/
.env
.env.*

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/android/.gradle/
mobile/android/local.properties
*.lock
!pnpm-lock.yaml
!Cargo.lock

# Protobuf generated
proto/gen/

# Logs
*.log
